.container {
  min-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px;
  padding: 6px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 2px 2px 8px #999;
}

.flag {
  width: 15vmin;
  min-width: 35px;
  display: flex;
  align-items: center;
}

.flagImage {
  width: 35px;
  height: 24px;
}

.currencyCode {
  width: 20vmin;
  margin: 0 2vmin;
}

.countryName {
  width: fit-content;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.baseCurrency {
  width: 40px;
  margin-left: 10px;
}
